/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Mise en place du background img, qui sera rendu static et fixer, */
/* pour éviter tous désagrement lors du scroll dans la liste de jeux  */
body {
  background-image: url(./src/images/background-image.png);
  background-repeat: no-repeat;
  background-size: 100vw;
  width: 100vw;
  height: 100vh;
  background-attachment: fixed;
}

/* Mise en place d'une largeur reduite du a une taille exessive  */
#logo img {
  min-width: 25%;
  max-width: 25%;
}
